# Ingore all but:
*

# Project folders
!doc/
!src/
!src/datapath/
!sim/
!gen/

# Doc files
!*.md
# Quartus project files
!*.qpf
!*.qsf
# ISE project files
!*.xise
# Script files
!*.sh
!*.py
# Source files
!*.vhd