# Folders
.vscode/
.sopc_builder/
db/
*_sim/
incremental_db/
output_files/

# Files
*.bak
*.jdi
*.mif
*.bsf
*.ptf
*.hex

# SOPC
sopc/*
!sopc/*.vhd
!sopc/software/
!sopc/sopc_arch.sopc
!sopc/HostBridge.sopcinfo
